
Multi-class Classification and Neural Networks/ex3data1.mat
Multi-class Classification and Neural Networks/ex3weights.mat
Multi-class Classification and Neural Networks/fmincg.m
Multi-class Classification and Neural Networks/lib/jsonlab/AUTHORS.txt
Multi-class Classification and Neural Networks/lib/jsonlab/ChangeLog.txt
Multi-class Classification and Neural Networks/lib/jsonlab/jsonopt.m
Multi-class Classification and Neural Networks/lib/jsonlab/LICENSE_BSD.txt
Multi-class Classification and Neural Networks/lib/jsonlab/loadjson.m
Multi-class Classification and Neural Networks/lib/jsonlab/loadubjson.m
Multi-class Classification and Neural Networks/lib/jsonlab/mergestruct.m
Multi-class Classification and Neural Networks/lib/jsonlab/README.txt
Multi-class Classification and Neural Networks/lib/jsonlab/savejson.m
Multi-class Classification and Neural Networks/lib/jsonlab/saveubjson.m
Multi-class Classification and Neural Networks/lib/jsonlab/varargin2struct.m
Multi-class Classification and Neural Networks/lib/makeValidFieldName.m
Multi-class Classification and Neural Networks/lib/submitWithConfiguration.m
Multi-class Classification and Neural Networks/lrCostFunction.m
Multi-class Classification and Neural Networks/oneVsAll.m
Multi-class Classification and Neural Networks/sigmoid.m
Logistic Regression/submit.m
Logistic Regression/sigmoid.m
Logistic Regression/predict.m
Logistic Regression/plotDecisionBoundary.m
Logistic Regression/plotData.m
Logistic Regression/mapFeature.m
Logistic Regression/lib/submitWithConfiguration.m
Logistic Regression/lib/makeValidFieldName.m
Logistic Regression/lib/jsonlab/varargin2struct.m
Logistic Regression/lib/jsonlab/saveubjson.m
Logistic Regression/lib/jsonlab/savejson.m
Logistic Regression/lib/jsonlab/README.txt
Logistic Regression/lib/jsonlab/mergestruct.m
Logistic Regression/lib/jsonlab/loadubjson.m
Logistic Regression/lib/jsonlab/loadjson.m
Logistic Regression/lib/jsonlab/LICENSE_BSD.txt
Logistic Regression/lib/jsonlab/jsonopt.m
Logistic Regression/lib/jsonlab/ChangeLog.txt
Logistic Regression/lib/jsonlab/AUTHORS.txt
Logistic Regression/ex2data2.txt
Logistic Regression/ex2data1.txt
Logistic Regression/ex2_reg.m
Logistic Regression/ex2.m
Logistic Regression/costFunctionReg.m
Logistic Regression/costFunction.m
